body {
  background-color: #191d21;
  color: #d3d3d3;
}

strong {
  font-weight: 500;
}

.card {
  border: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  background-color: #212529;
  border-radius: .5rem;
}
